<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form action="/hola2" method="get">
        Salutació: <input type="text" name="salutacio"><br>
        Quantitat: <input type="number" name="quantes"><br>
        Color: <input type="color" name="color"><br>
                        <option value="red">Vermell</option>
                        <option value="blue">Blau</option>
                        <option value="green">Verd</option>
                        <option value="yellow">Groc</option>
                    </select><br>
        Foto: <input type="checkbox" name="foto"><br>
        <input type="submit" value="Enviar">
    </form> 
</body>
</html>
